<!-- <router-outlet></router-outlet> -->
<nav class="navbar navbar-dark bg-dark fixed-top shadow">
  <div class="container-fluid">
    <span class="navbar-brand mb-0 h1 ms-4">Helo</span>
  </div>
</nav>

<div class="app-main-container">
  <ul class="list-group rounded-0 app-side-nav">
    <li role="button" class="list-group-item border-end-0 rounded-0 bg-light">Dashboard</li>
    <li role="button" class="list-group-item border-end-0 rounded-0">Purchase Orders</li>
    <li role="button" class="list-group-item border-end-0 rounded-0">Shipments</li>
    <li role="button" class="list-group-item border-end-0 rounded-0">Cases</li>
    <li role="button" class="list-group-item border-end-0 rounded-0">Containers</li>
    <li role="button" class="list-group-item border-end-0 rounded-0">Trains</li>
  </ul>
  <main class="col">
    <h3 class="border-bottom p-2 ps-4 text-muted">Dashboard</h3>
  </main>
</div>
