<h3 class="border-bottom p-2 ps-4 text-muted">Shipments</h3>
<div class="row">
  <div class="col-md-4 offset-md-4">
    <div class="input-group mb-1">
      <input type="text" class="form-control" #newShipmentText placeholder="New Shipment">
      <button (click)="addNewShipment(newShipmentText)" class="btn btn-outline-secondary" type="button" id="button-addon2">Add</button>
    </div>
    <ul class="list-group" *ngIf="shipments$|async as shipments">
      <li class="list-group-item d-flex justify-content-between" *ngFor="let shipment of shipments" [id]="shipment.id">
        {{shipment.name}}
        <button class="btn btn-danger btn-sm" (click)="deleteShipment(shipment)">Delete</button>
      </li>
    </ul>
  </div>
</div>
